/target/

/.maturin/
/build/
/dist/
/*.egg-info/

__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

.venv/
venv/

/python/a2lfile/_a2lfile*.so
/python/a2lfile/_a2lfile*.pyd
/python/a2lfile/_a2lfile*.dylib
